.movie {
    display: flex;
    justify-content: center;
    height: 550px;

    .card {
        display: flex;
        flex-direction: column;
        background-color: #242b45;
        height: 100%;
        width: 100%;
        border-radius: 25px;
        overflow: hidden;

        .image {
            height: 60%;
            border-radius: 25px;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .description {
            display: flex;
            flex-direction: column;

            .title {
                color: white;
                margin: 10px 10px 0 10px;
                font-size: 20px;
                font-weight: 700;
            }

            .category {
                color: #a6c4c7;
            }
        }

        .like-progress {
            margin: 20px 30px;

            .like-dislike {
                display: flex;
                justify-content: space-between;
                padding-bottom: 5px;

                .likes {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 45%;
                    padding: 10px 0;
                    border-radius: 4px;
                    
                    img {
                        filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
                    }

                    &:hover {
                        background-color: #ffffff21;
                    }
                }
                .dislikes {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 45%;
                    padding: 10px 0;
                    border-radius: 4px;

                    img {
                        rotate: 180deg;
                        filter: invert(75%) sepia(89%) saturate(6454%) hue-rotate(335deg) brightness(93%) contrast(102%);
                    }
                    &:hover {
                        background-color: #ffffff21;
                    }
                }

                .activated {
                    background-color: #ffffff21;
                }
                
                img {
                    height: 25px;
                    margin-right: 8px;
                }
            }

            progress {
                width: 100%;
                height: 20px;
                accent-color: #388087;
            }
        }

        .delete-movie {
            display: flex;
            justify-content: center;
        }
    }
}